
.DS_Store
*.pyc
results/
.ipynb_checkpoints/
__pycache__/
documentation/Moment of Inertia Liquid Calculation.pdn
documentation/Cylinder Definitions.pdn
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.nlo
*.out
*.gz
*.toc
output.json
*.grb2
*.grib
*.NC
*.anl
data/pyro.json
pyro_venv/
