aiohttp==3.7.3
aiohttp-cors==0.7.0
aioredis==1.3.1
ambiance==1.1.0
antlr4-python3-runtime @ file:///Users/runner/miniforge3/conda-bld/antlr-python-runtime_1602363951065/work
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
appnope @ file:///opt/concourse/worker/volumes/live/0291c9e1-4b15-459f-623e-2770f55be269/volume/appnope_1594338395037/work
async-timeout==3.0.1
attrs==20.3.0
backcall==0.2.0
blessings==1.7
bokeh @ file:///Users/runner/miniforge3/conda-bld/bokeh_1606141231753/work
brotlipy==0.7.0
cachetools==4.2.1
Cartopy @ file:///Users/runner/miniforge3/conda-bld/cartopy_1613121867332/work
certifi==2020.12.5
cf-units @ file:///Users/runner/miniforge3/conda-bld/cf-units_1603235549362/work
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1606236244951/work
cftime @ file:///Users/runner/miniforge3/conda-bld/cftime_1602504459860/work
chardet==3.0.4
click==7.1.2
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1598400192773/work
colorama==0.4.4
colorful==0.5.4
CoolProp==6.4.1
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1612993961228/work
cycler==0.10.0
cytoolz==0.11.0
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1612568682000/work
decorator==4.4.2
distributed @ file:///Users/runner/miniforge3/conda-bld/distributed_1612581526313/work
eccodes-python==0.9.9
filelock==3.0.12
fluids @ file:///home/conda/feedstock_root/build_artifacts/fluids_1612123162851/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1608050797851/work
fuzzywuzzy @ file:///home/conda/feedstock_root/build_artifacts/fuzzywuzzy_1605704184142/work
gas-dynamics==0.4.2
gmpy2==2.1.0b1
google-api-core==1.26.0
google-auth==1.26.1
googleapis-common-protos==1.52.0
gpustat==0.6.0
grpcio==1.35.0
HeapDict==1.0.1
hiredis==1.1.0
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
importlib-metadata @ file:///Users/runner/miniforge3/conda-bld/importlib-metadata_1610355190026/work
importlib-resources @ file:///Users/runner/miniforge3/conda-bld/importlib_resources_1611036185102/work
ipykernel @ file:///opt/concourse/worker/volumes/live/88f541d3-5a27-498f-7391-f2e50ca36560/volume/ipykernel_1596206680118/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///opt/concourse/worker/volumes/live/90527372-a5f7-4d48-68c2-a99de2ba31c7/volume/ipython_1599056199422/work
ipython-genutils==0.2.0
iris-grib==0.16.0
jedi @ file:///Users/runner/miniforge3/conda-bld/jedi_1610146833874/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1612119311452/work
jsonschema==3.2.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-core==4.6.3
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1610099793141/work
locket==0.2.0
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1610127533370/work
matplotlib==3.3.2
MetPy @ file:///home/conda/feedstock_root/build_artifacts/metpy_1608625305292/work
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1612895720168/work
msgpack @ file:///Users/runner/miniforge3/conda-bld/msgpack-python_1610121729707/work
multidict==5.1.0
netCDF4 @ file:///Users/runner/miniforge3/conda-bld/netcdf4_1611263450671/work
numexpr @ file:///Users/runner/miniforge3/conda-bld/numexpr_1609341247721/work
numpy==1.19.3
nvidia-ml-py3==7.352.0
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
opencensus==0.7.12
opencensus-context==0.1.2
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1612459636436/work
pandas==1.2.2
parso @ file:///tmp/build/80754af9/parso_1596826841367/work
partd==1.1.0
pexpect @ file:///opt/concourse/worker/volumes/live/8701bb20-ad87-46c7-5108-30c178cf97e5/volume/pexpect_1594383388344/work
pickleshare @ file:///opt/concourse/worker/volumes/live/93ec39d8-05bb-4f84-7efc-98735bc39b70/volume/pickleshare_1594384101884/work
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1612816988466/work
Pint @ file:///home/conda/feedstock_root/build_artifacts/pint_1601019190097/work
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1606467285986/work
prometheus-client==0.9.0
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1602688806899/work
protobuf==3.14.0
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1610127125918/work
ptyprocess==0.6.0
py-spy==0.3.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
Pygments @ file:///tmp/build/80754af9/pygments_1600458456400/work
pyke @ file:///home/conda/feedstock_root/build_artifacts/pyke_1605710175691/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1608055815057/work
pyparsing==2.4.7
pyproj @ file:///Users/runner/miniforge3/conda-bld/pyproj_1604702478551/work
pyrsistent==0.17.3
pyshp @ file:///home/conda/feedstock_root/build_artifacts/pyshp_1610646860606/work
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1610291493748/work
python-dateutil==2.8.1
python-Levenshtein @ file:///Users/runner/miniforge3/conda-bld/python-levenshtein_1612200770055/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1612179539967/work
PyYAML==5.4.1
pyzmq==19.0.2
ray==1.1.0
redis==3.5.3
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1608156231189/work
rsa==4.7
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy_1612531727878/work
scitools-iris @ file:///Users/runner/miniforge3/conda-bld/iris_1611774025898/work
Shapely @ file:///Users/runner/miniforge3/conda-bld/shapely_1613083070702/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1605110889605/work
sympy @ file:///Users/runner/miniforge3/conda-bld/sympy_1610127400672/work
tblib==1.6.0
thermo==0.1.40
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1600973991856/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1610094711612/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1602771532708/work
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1602702424206/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1611695416663/work
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1606798576866/work
xxhash @ file:///Users/runner/miniforge3/conda-bld/python-xxhash_1607701561319/work
yarl==1.6.3
zict==2.0.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1603668650351/work
